.closeButtonDiv{
    height: 10px;
}
.nickName {
    margin-bottom: 10px;
}
.form-label {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.money{
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: black;
    margin-top: 20px;

}
.countries-selector option {
  font-size: 14px;
  padding: 5px;
}
/* Botón X */
.close-btn {
  position: relative;
  margin-left: 90%;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  color: #444;
  cursor: pointer;
  transition: color 0.2s ease;
}
.close-btn:hover {
  color: red;
}
.input-error {
  border: 2px solid red;
  background-color: #ffe6e6;
}
@media (min-width: 992px) {
    .money{
        position: relative;
        top: 220px;
    }
    .nickName {
        margin-bottom: 20px;
    }
   
    
}